    /*==========Global=========*/
    
    html {
        font-size: 62.5%;
        /* To make 1rem =10px */
    }
    
    body {
        font-family: sans-serif;
        font-size: .8rem;
        margin: 3rem 6rem;
        border: solid grey;
        background-color: rgb(194, 194, 194);
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 0.8rem;
        text-emphasis: bold;
    }
    
    .content {
        display: grid;
        grid-template-columns: 35% 65%;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .title {
        margin: 0;
    }
    /*========Personal Side=========*/
    
    .personal_info {
        background-color: rgb(168, 168, 168);
        padding: 1.2rem;
        text-align: center;
        border-left: 2.5rem solid rgba(58, 58, 58, 0.815);
    }
    
    .text_personal {
        text-align: left;
    }
    
    .fotocv {
        max-width: 60%;
        max-height: 14rem;
        border-width: .4rem;
        border-style: solid;
        border-color: rgb(207, 205, 205);
        margin: 2rem 0 3rem 0;
    }
    
    .cover_letter,
    .references {
        margin-top: 2.8rem;
    }
    /*========Professional Side=====*/
    
    .professional_info {
        background-color: white;
        padding: 0.5rem;
    }
    
    header {
        min-height: 8rem;
    }
    
    header h1 {
        margin-bottom: 0.8rem;
    }
    
    header p {
        color: rgb(121, 121, 121);
        font-weight: bold;
    }
    
    .title {
        /* text-decoration: underline rgb(151, 151, 151); */
        border-bottom: .2rem solid rgb(136, 136, 136);
    }
    
    .career {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 20% 80%;
        margin-top: 1rem;
    }
    
    .skills {
        display: grid;
        grid-template-columns: 25% 75%;
    }
    
    .dates {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .dates h4 {
        margin: 0;
    }
    
    .job_title {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        justify-content: left;
    }
    
    .job_title h4 {
        margin: 0 6rem 0 0;
    }
    
    .description {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .skills p {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .sk1 {
        padding-top: 1.5rem;
    }
    
    .academic {
        display: grid;
        grid-template-columns: 25% repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }